:root {
    --header-color: #2F303A;
    --title-color: #212121;
    --text-color: #757575;
    --blue-text-color: #2196F3;
    --background-color: #F5F4FA;
    --secondary-color: #ffffff;
}

body {
    font-family: Roboto, Tahomo, sans-serif;
    color: var(--text-color);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--blue-text-color);
}
.link_logo {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ---------------------header------------------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}
.header_nav {
    display: flex;
    align-items: center;
}
.navigation, .contact_link {
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.logo_title {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
    
}

.logo_title, .footer_logo {
    font-family: Raleway, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
 
}

.logo_title, .nav_link {
    color: var(--title-color);
}
.logo {
    color: var(--blue-text-color);
}
.icon_contact {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

.link_active{
    color: var(--blue-text-color);
}
.contact_link {
    color: var(--text-color);


}
.nav_list {
    display: flex;
}
.nav_item:not(:last-child) {
    margin-right: 50px;
}
.nav_link, .contact_link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  } 
.header_contact {
    margin-left: auto;
}
.contact_list {
    display: flex;
    align-items: center;
    
}


.contact_item:not(:last-child) {
    margin-right: 50px; 
}


/* ---------------------hero------------------------- */

.hero {
    background-color: var(--header-color);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../img/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero_title {
    margin-bottom: 30px;
    margin-left: 237px;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}
.hero_btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--blue-text-color);
    color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------------features------------------------ */
.features {
    padding-bottom: 0;
}

.icon_features {
    width: 70px;
    height: 70px;
    
    
}
.icon_container {
    background-color: var(--background-color);
    text-align: center;
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.features_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}    

.features_text, .footer_nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.features_list {
    display: flex;
}

.features_item {
    width: 270px;
}

.features_item:not(:last-child) {
    margin-right: 30px;
}
/* --------------------works-team ----------------------- */

.works_title, .team_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.works_title {
    margin-bottom: 50px;
    text-align: center;
}
.works_list {
    display: flex;
}
.works_item:not(:last-child) {
    margin-right: 30px;
}

.team {
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team_title {
    margin-bottom: 50px;
    text-align: center;
}
.team_list {
    display: flex;
}
.team_item {
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}    

.team_item:not(:last-child) {
    margin-right: 30px;
}

.team_name {
    font-weight: 500;
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.team_text {
    text-align: center;
    margin-bottom: 30px;
}

.soc_list {
    display: flex;
    justify-content: center;
}
.soc_item {
    margin-left: 10px;
}
.icon_soc {
    width: 20px;
    height: 20px;
    display: block;
    fill: #AFB1B8;
    padding: 12px, 12px;
    text-align: center;
}

/* --------------------footer----------------------- */
.footer_contact{
    font-style: normal;
}
.footer_nav {
    background-color: var(--header-color);
    color: var(--secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
  
}
.footer_logo {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.footer_link {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}
.footer_contact{
    display: flex;
    flex-flow: column wrap;
    }
/* --------------------portfolio-------------------- */
.filter_list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter_item:not(:last-child) {
    margin-right: 8px;
}
.filter_btn {
    cursor: pointer;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;   
}

.filter_btn:hover,
.filter_btn:focus {
    background-color: var(--blue-text-color);
    color: var(--secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}


/* --------------------galerie-------------------- */
.galerie {
    padding-top: 94px;
    padding-bottom: 94px;
}

.galerie_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* padding: 0; */
}
.galerie_item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}
.galerie_title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.galerie_text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color); 
}

.text_card {
    padding: 20px 24px;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px; */
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
